/*Startup*/
body  {
    margin: 0;
    padding-left: 5%;
    padding-right: 5%;
    transition: background-color 0.5s ease, color 0.5s ease;

}

main {
    display: flex;

}

header {
    max-height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 5px dotted rgba(102, 102, 102, 0.3);
    padding-top: 30px;
    margin-bottom: 50px;
}

h1 , h2 , h3 , h4 , section , p {
    color: #666666;
    transition: background-color 0.5s ease, color 0.5s ease;
}

ul {
    margin: 0  0  30px  0;
    padding: 0;
}

#titlediv{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 100%;
    height: fit-content;
    padding-right: 4%;
}

#titlediv h1 {
    border-bottom: solid 3px;
    margin: 0;
    height: fit-content;
    font-size: 55px;
}

#contactdiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 100%;
    height: fit-content;
    gap: 10px;
    text-align: center;
    margin-bottom: 50px;
    margin-top : 0px;
}

#summary {
    width: 100%;
    text-align: center;
}

#summary h2 {
    max-width: 25%;
    margin: auto;
    border-bottom: solid 3px;
    margin-bottom: 20px;
}

#summary p {
    margin-bottom: 30px;
}

#edu-comp-div {
    width: 50%;
    padding-right: 2%;
    margin-right: 3%;
    display: flex;
    flex-direction: column;
    border-right: solid 3px;

}

#edu-comp-div p, #experience p , ul , li{
    margin-left: 5%;
    padding: 0;
}

#edu-comp-div h2, #experience h2{
    max-width: fit-content;
    border-bottom: solid 3px;
} 

#experience {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: 50%;
    margin-right: 5%;
    height: 100%;
}

/*Script Components*/
.darkmode-body {
    background-color: #343738;
    color: #e8e6e3;
}

.darkmode-elements {
    color: #ffffff;
}
